.chat__send-button {
  background: rgba(255, 255, 255, 0.1) !important;
}

.chat__input-field input {
  background: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  border-radius: 8px;
}

.chat__container {
  color: white;
  background-image: url(../../assets/character-bg.webp) !important;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 75px;
}
